@model BlackStorkApp.Models.PaginationTopicsModel
@using BlackStorkApp.Helpers
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Блог";
}

<section id="page-title">
    <div class="container clearfix">
        <h1>Блог</h1>
        <span>Наши последние новости</span>
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</section><!-- #page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix">
                <div id="posts">
                    @foreach (BlackStorkApp.Models.TopicModel currentTopic in Model.Topics)
                    {
                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="#" data-lightbox="image">
                                    <img class="image_fade" src="@currentTopic.PathForMainPhoto" alt="">
                                </a>
                            </div>
                            <div class="entry-title">
                                <h2><a href="#"> @currentTopic.Header </a>
                                </h2>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="glyphicon glyphicon-calendar"></i> @currentTopic.DateOfCreate </li>                            
                            </ul>
                            <div class="entry-content">
                                <p>@currentTopic.Description</p>
                                @using (Html.BeginForm("GetDescriptionOfNews", "Blog", FormMethod.Post))
                                {
                                    <input type="hidden" name="id" value="@currentTopic.TopicId" />
                                    <input type="submit" class="btn btn-default" value="Подробнее">
                                }
                            </div>                         
                        </div>
                    }
                </div><!-- #posts end -->

                <div class="btn-group">
                    @Html.PageLinks(Model.Page, x => Url.Action("Index", new { page = x }))
                </div>

            </div><!-- .postcontent end -->

            <!-- Sidebar -->
            <div class="sidebar nobottommargin col_last clearfix">
                
            </div><!-- .sidebar end -->
        </div>
    </div>
</section><!-- #content end -->