@model BlackStorkApp.Models.TopicModel
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "News";
}

<h2>News</h2>
<p>@Model.Header</p>
<p>@Model.DateOfCreate</p>
<p>@Model.Description</p>
<p>@Model.PathForMainPhoto</p>
<p>@Model.PathForFolderWithPhotos</p>

