<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - BlackStork</title>
    @Styles.Render("~/Content/AdminStyle")
    @Scripts.Render("~/Scripts/AdminScript")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("AdminPanel/Menu")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
                <br />
                <!-- footer content -->
                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">&copy; @DateTime.Now.Year - Powered by Violetta Haduk</p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    <!-- /footer content -->
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/custom.js")
</body>
</html>
