
<header id="header" class="transparent-header full-header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="~/Content/img/logo-white.png"><img src="~/Content/img/logo-black.png" alt="Black Stork Logo"></a>
            </div><!-- #logo end -->
            <nav id="primary-menu">
                <ul>
                    <li> @Html.ActionLink("Главная","Index","Home") </li>
                    <li> @Html.ActionLink("О компании", "Index", "Home") </li>
                    <li> @Html.ActionLink("Каталог", "Index", "Catalog") </li>
                    <li> @Html.ActionLink("Блог", "Index", "Blog") </li>
                    <li> @Html.ActionLink("Контакты", "Feedback", "Home") </li>
                </ul>
            </nav><!-- #primary-menu end -->
        </div><!-- .container clearfix -->
    </div>
</header><!-- #header end -->



