<header id="header" class="full-header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="http://canvashtml-cdn.semicolonweb.com/images/logo-dark.png"><img src="http://canvashtml-cdn.semicolonweb.com/images/logo.png" alt="Canvas Logo"></a>
                <a href="#" class="retina-logo" data-dark-logo="http://canvashtml-cdn.semicolonweb.com/images/logo-dark@2x.png"><img src="http://canvashtml-cdn.semicolonweb.com/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <nav id="primary-menu">
                <ul>
                    <li> @Html.ActionLink("Главная","Index","Home") </li>
                    <li> @Html.ActionLink("О компании", "Index", "Home") </li>
                    <li> @Html.ActionLink("Каталог", "Index", "Catalog") </li>
                    <li> @Html.ActionLink("Блог", "Index", "Blog") </li>
                    <li> @Html.ActionLink("Контакты", "Feedback", "Home") </li>
                </ul>
            </nav><!-- #primary-menu end -->
        </div><!-- .container clearfix -->
    </div>
</header><!-- #header end -->
