@model BlackStorkApp.Models.PaginationProductsModel
@using BlackStorkApp.Helpers
@{
    ViewBag.Title = "Список товаров";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Каталог</h3>
        </div>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                <div class="btn-group">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Экспорт <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("в XML", "ExportToXML", "Admin") </li>
                            <li> @Html.ActionLink("в XLSX", "ExportToExel", "Admin") </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Импорт <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li>
                               @using (Html.BeginForm("ImportFromXML", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                               {
                                <input type="file" name="file" accept=".xml" /><br>
                                <input type="submit" class="btn btn-link" value="из XML" />
                               }
                                <div class="ln_solid"></div>
                            </li>
                            <li>
                                @using (Html.BeginForm("ImportFromXLSX", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="file"  class="btn btn-link" name="file" accept=".xlsx, .xls"  /><br>
                                    <input type="submit" class="btn btn-link" value="из Exel" />
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Товары</h2>
            <div class="clearfix"></div>
            <p>Перечень всех товаров, содержащихся в каталоге</p>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <td><b>#</b></td>
                    <td><b>Изображение</b></td>
                    <td><b>Название</b></td>
                    <td><b>Описание</b></td>
                    <td><b>Обзор</b></td>
                    <td><b>Изменить</b></td>
                    <td><b>Удалить</b></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var currentProduct in Model.Products)
                {
                    <tr>
                        <td> @currentProduct.ProductId </td>
                        <td> <img src="@currentProduct.PathForMainPhoto"/> </td>
                        <td> @currentProduct.Name </td>
                        <td> @currentProduct.Description </td>
                        <td>
                            @using (Html.BeginForm("Product", "Catalog", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@currentProduct.ProductId" />
                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-open"></span>
                                </button>
                            }
                        </td>
                        <td>
                            <a href="/Admin/EditOfProduct/@currentProduct.ProductId" class="btn btn-link">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>                           
                            @using (Html.BeginForm("DeleteOfProduct", "Admin", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@currentProduct.ProductId"/>
                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="btn-group">
                @Html.PageLinks(Model.Page, x => Url.Action("GetAllProducts", new { page = x }))
            </div>
        </div>
    </div>
</div>

