@model BlackStorkApp.Models.PaginationTopicsModel
@using BlackStorkApp.Helpers
@{
    ViewBag.Title = "Список статей";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Блог</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Статьи</h2>
            <div class="clearfix"></div>
            <p>Перечень всех статей и новостей, содержащихся в блоге</p>
        </div>
        <div class="x_content">

            <!---place for modal window-->
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog"></div>
            </div>
            <!---/.for modal window-->

            <table class="table table-bordered">
                <thead>
                <tr>
                    <td><b>#</b></td>
                    <td><b>Название</b></td>
                    <td><b>Описание</b></td>
                    <td><b>Дата создания</b></td>
                    <td><b>Обзор</b></td>
                    <td><b>Изменить</b></td>
                    <td><b>Удалить</b></td>
                </tr>
                </thead>
                <tbody>
                @foreach (BlackStorkApp.Models.TopicModel currentTopic in Model.Topics)
                {
                    <tr>
                        <td> @currentTopic.TopicId </td>
                        <td class="product-preview"> <img src="@currentTopic.PathForMainPhoto" /> </td>
                        <td> @currentTopic.Header </td>
                        <td> @currentTopic.DateOfCreate </td>
                        <td class="table-controlles">
                            <a href="@Url.Action("GetDescriptionOfTopic", "Admin", new { id = currentTopic.TopicId } )" class="btn btn-link topicItem">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td class="table-controlles"> 
                            <a href="@Url.Action("EditOfTopic", "Admin", new { id = currentTopic.TopicId })" class="btn btn-link">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td class="table-controlles">
                            @using (Html.BeginForm("DeleteOfTopic", "Admin", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@currentTopic.TopicId" />
                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <script type="text/javascript">
                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".topicItem").click(function (e) {
                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
            </script>

            <div class="btn-group">
                @Html.PageLinks(Model.Page, x => Url.Action("GetAllTopics", new {page = x}))
            </div>
        </div>
    </div>
</div>