@model BlackStorkApp.Models.PaginationProductsModel
@using BlackStorkApp.Helpers
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Каталог";
}

<section id="page-title">
    <div class="container clearfix">
        <h1>Каталог</h1>
        <span>Продукция нашей компании</span>
        
    </div>
</section><!-- #page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix">
                <!-- Shop -->
                <div id="shop" class="shop product-1 clearfix">
                    @foreach (BlackStorkApp.Models.ProductModel currentProduct in Model.Products)
                    {
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="#"><img src="@currentProduct.PathForMainPhoto" alt="Product"></a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h3 class="margin-bottom-10">
                                    <a href="#"> @currentProduct.Name </a>
                                </h3>
                            </div>

                            <p class="margin-bottom-10"> @currentProduct.Description </p>

                            @using (Html.BeginForm("Product", "Catalog", FormMethod.Post))
                                {
                                <input type="hidden" name="id" value="@currentProduct.ProductId" />
                                <input type="submit" value="Подробнее" class="btn btn-default" />
                                }
                        </div>
                    </div>
                    }
                </div><!-- #shop end -->

                <div class="btn-group">
                    @Html.PageLinks(Model.Page, x => Url.Action("Index", new { page = x }))
                </div>
            </div> <!---.postcontent -->

            <!-- Sidebar -->
            <div class="sidebar nobottommargin col_last clearfix">
                @Html.Partial("Search")
            </div><!-- .sidebar end -->

        </div><!-- .container clearfix -->
    </div><!-- .content-wrap -->
</section><!-- #content end -->