@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/icheck/flat/green.css")
    @Scripts.Render("~/Scripts/jquery.min.js")
</head>

<body>
    <div id="wrapper">
        <section class="login_content">
            <form method="post" role="form">
                <h1>Авторизация</h1>
                <div>
                    <input class="form-control" type="text" name="Login" placeholder="Введите логин..." maxlength="20" required >
                </div>
                <div>
                    <input class="form-control" type="password" name="HashOfPassword" placeholder="Введите пароль..." maxlength="20" required />
                </div>
                <div>
                    <button class="btn btn-default" type="submit">Войти</button>
                    <a class="reset_pass" href="#">Забыли пароль?</a> <!--Add method for recovery of password--->
                </div>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1>BLACK STORK</h1>
                        <p>©2017 Все права защищены.</p>
                    </div>
                </div>
            </form><!-- form -->
        </section><!-- login_content -->
    </div>
</body>
</html>

